.App {
  margin: 20px;
}

.notification a:not(.button):not(.dropdown-item) {
  color: currentColor;
  text-decoration: none;
}

.navbar .is-active {
  font-weight: bold;
  pointer-events: none;
  color: cornflowerblue;
}
